<% content_for :head do %>
   <meta name="description" content="素敵なモノと出会える場所。楽天でお買い物し
ませんか？他の方が気になっている商品をシェアしたり、持っているモノをチェックしてみましょう。">
<% end %>

<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>素敵なモノと出会う場所</h1>
      <%= link_to 'モノリストを始める' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<%= render 'items/list' , items: @items %>